# 資料分析

In [1]:
#粗略查看資料型態
#因方便辨識有重新命名檔案(不然都是u) 所以才會有u.data.data這種鬼東西
#因方便辨識有重新命名檔案(不然都是u) 所以才會有u.data.data這種鬼東西
#因方便辨識有重新命名檔案(不然都是u) 所以才會有u.data.data這種鬼東西


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#u.data 評分資料
rating_header = ["user_id", "item_id", "rating", "timestamp"]
rating = pd.read_csv("u.data.data", sep = '\t', header = None, names=rating_header)
print(rating.head())
print('\n')
rating.info()
print("__________________________________________________________________________\n")

#u.item 電影資料
movie_header = ["item_id", "title", "release_date", "video_release_date", "IMDb_URL",
         "unknown", "Action", "Adventure", "Animation","Children's", "Comedy", "Crime",
         "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", 
         "Romance", "Sci-Fi", "Thriller", "War", "Western"]
movies = pd.read_csv('u.item.item', sep = '|', header = None, encoding = 'latin1', names = movie_header)
print(movies.head())
print('\n')
movies.info()
print("__________________________________________________________________________\n")

#u.user 使用者資料
user_header = ["user_id", "age", "gender", "occupation", "zip_code"]
user = pd.read_csv('u.user.user', sep = '|', header = None, encoding = 'latin1', names = user_header)
print(user.head())
print('\n')
user.info()
print("__________________________________________________________________________\n")

#u.genre 電影種類

#u.occupation 職業種類

#u.info 資料集資訊
# 943 users 
# 1682 items 
# 100000 ratings

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   item_id    100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB
__________________________________________________________________________

   item_id              title release_date  video_release_date  \
0        1   Toy Story (1995)  01-Jan-1995                 NaN
1        2   GoldenEye (1995)  01-Jan-1995                 NaN
2        3  Four Rooms (1995)  01-Jan-1995                 NaN
3        4  Get Shorty (1995)  01-Jan-1995                 NaN
4        5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb_URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's  ...  Fantasy  Film-Noir  Horror  Musical  \
0          0          1           1  ...        0          0       0        0
1          1          0           0  ...        0          0       0        0
2          0          0           0  ...        0          0       0        0
3          0          0           0  ...        0          0       0        0
4          0          0           0  ...        0          0       0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0       0         0    0        0
1        0        0       0         1    0        0
2        0        0       0         1    0        0
3        0        0       0         0    0        0
4        0        0       0         1    0        0

[5 rows x 24 columns]


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             1682 non-null   int64
 1   title               1682 non-null   object
 2   release_date        1681 non-null   object
 3   video_release_date  0 non-null      float64
 4   IMDb_URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Children's          1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB
__________________________________________________________________________

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB
__________________________________________________________________________

### 資料組合並將字串轉數值

In [3]:
#資料合併
#不確定要不要用清理後的rating 暫用原始rating
all_data = pd.merge(pd.merge(user,rating), movies)

# 移除字串和未使用欄位
all_data = all_data.drop(['title', 'video_release_date', 'release_date', 'IMDb_URL', 'unknown', 'timestamp', "zip_code"],axis=1)

#職業
occupation = pd.read_csv("u.occupation.occupation", header = None)
#有幾種職業
occupation_list = occupation.values
all_data["occupation"].replace(occupation_list,list(range(0, len(occupation_list))), inplace=True)

# 性別轉為數值 女性為 0 ，男性為 1
all_data["gender"].replace(['F', 'M'],[0, 1], inplace=True)

# rating 型別轉為 int
all_data["rating"] = all_data["rating"].astype(int)

#合併後的前十筆
all_data.head(10)

,user_id,age,gender,occupation,item_id,rating,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,24,1,19,61,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13,47,1,3,61,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18,35,0,13,61,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,58,27,1,14,61,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,59,49,1,3,61,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,60,50,1,7,61,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,76,20,1,18,61,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,94,26,1,18,61,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,144,53,1,14,61,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,154,25,1,18,61,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 顯示整理後的資料型別

In [4]:
database = all_data.copy()

database.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      100000 non-null  int64
 1   age          100000 non-null  int64
 2   gender       100000 non-null  int64
 3   occupation   100000 non-null  int64
 4   item_id      100000 non-null  int64
 5   rating       100000 non-null  int32
 6   Action       100000 non-null  int64
 7   Adventure    100000 non-null  int64
 8   Animation    100000 non-null  int64
 9   Children's   100000 non-null  int64
 10  Comedy       100000 non-null  int64
 11  Crime        100000 non-null  int64
 12  Documentary  100000 non-null  int64
 13  Drama        100000 non-null  int64
 14  Fantasy      100000 non-null  int64
 15  Film-Noir    100000 non-null  int64
 16  Horror       100000 non-null  int64
 17  Musical      100000 non-null  int64
 18  Mystery      100000 non-null  int64
 19  Romance      100000 non-null  int64
 20  Sci-Fi       100000 non-null  int64
 21  Thriller     100000 non-null  int64
 22  War          100000 non-null  int64
 23  Western      100000 non-null  int64
dtypes: int32(1), int64(23)
memory usage: 18.7 MB

### 將資料數值進行標準化
### 將資料分組以7成資料為訓練3成為測試
### 將資料做 SMOKE

In [5]:
# 匯入資料處理
from sklearn.model_selection import train_test_split
# 模型評估
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import cross_val_score
# 匯入自動標準化模組
from sklearn.preprocessing import StandardScaler
# 匯入 smoke 模組
from imblearn.over_sampling import SMOTE

In [6]:
scaler = StandardScaler()

#分割資料集
X = database.drop('rating',axis=1)#題目
X = scaler.fit_transform(X)

y = database['rating']#答案

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

# smote data，讓各 label 資料平均
sm = SMOTE(random_state=42)
X_train, y_train = sm.fit_resample(X_train ,y_train)

In [7]:
# 查詢訓練集有多少筆資料，各 rating 資料筆數有多少

print(X_train.shape)
print(y_train.value_counts())

(119615, 23)
5    23923
4    23923
3    23923
2    23923
1    23923
Name: rating, dtype: int64

### 導入 SVM 模組做 分類問題，並用交叉驗證重複三次

In [8]:
from sklearn import svm

clf = svm.SVC(kernel='poly', degree=3, coef0=1, C=5)
clf.fit(X_train,y_train)

clf_predictions = clf.predict(X_test)
clf_acc_score=metrics.accuracy_score(y_test, clf_predictions)
clf_f1_score=metrics.f1_score(y_test, clf_predictions, average='macro')

print('Test Accuracy score: ', clf_acc_score)
print('Test F1 score: ', clf_f1_score)
print('-----------------------------------------------------\n')
print('classification_report :\n')
print(classification_report(y_test,clf_predictions))
print('-----------------------------------------------------\n')
print('confusion_matrix :\n')
print(confusion_matrix(y_test,clf_predictions))
print('-----------------------------------------------------\n')
#cross_val_score
#交叉驗證 整個資料集分3份(cv=3) 兩份訓練一份測試 替換不同的測資重複三次
clf_scores = cross_val_score(clf,X,y,cv=3,scoring='accuracy')
print(clf_scores)
print('-----------------------------------------------------\n')
print('scores-mean\n')
print(clf_scores.mean())

Test Accuracy score:  0.28346666666666664
Test F1 score:  0.26660143823205334
-----------------------------------------------------

classification_report :

              precision    recall  f1-score   support

           1       0.14      0.40      0.21      1861
           2       0.17      0.28      0.21      3383
           3       0.33      0.17      0.22      8080
           4       0.39      0.22      0.28     10251
           5       0.35      0.50      0.41      6425

    accuracy                           0.28     30000
   macro avg       0.27      0.31      0.27     30000
weighted avg       0.32      0.28      0.28     30000

-----------------------------------------------------

confusion_matrix :

[[ 753  443  213  200  252]
 [ 851  940  472  577  543]
 [1559 1781 1347 1639 1754]
 [1434 1641 1415 2281 3480]
 [ 725  638  672 1207 3183]]
-----------------------------------------------------

[0.29465411 0.25404254 0.1401914 ]
-----------------------------------------------------

scores-mean

0.22962934975242835